#side-container{
  padding: 0;
}

#side-panel{
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  position: fixed;
  z-index: 10;
}

#name{
  margin: 7%;
  font-weight: 300; 
  font-size: 2.7vw;
}

#name-mobile{
  margin: 7%;
  font-weight: 400;
  font-size: 5.0vw;
}

#intro{
  margin: 1.2vw;
  font-weight: 300; 
  line-height: 120%;
  font-size: 1.4vw;
}

#portrait{
  width: 70%;
  border-radius: 40%;
  position: relative;
  margin-top: 5.5vw;
}

#icons{
  text-align: center;
  display: inline;
}

.fa{
  font-size: 2.5vw;
  padding: 1vw;
  margin-top: 1vw;
}

#mobile-header{
  width: 100%;
}

#content{
  width: 70%;
  height: 100%;
  float: right;
}

@media (max-width: 480px) {
  #content{
    width: 90%;
    float: right;
  }
}

.mdl-card{
  margin-top: 3vh;
  width: 90%;
  position: center;
  min-height: 0;
}

.mdl-card__supporting-text{
  color: #212121;
}


.title{
  font-size: 120%;
}

.pic{
  width: 100%;
}

#skills{
  margin-bottom: 3vh;
}
