#side-container{
  padding: 0;
}

#side-panel{
  float: left;
  width: 25%;
  height: 100%;
  text-align: center;
  position: fixed;
  z-index: 10;
}

#name{
  margin: 7%;
  font-weight: 300; 
  font-size: 3vw;
}

#intro{
  margin: 10%;
  font-weight: 300; 
  line-height: 120%;
}

#portrait{
  width: 70%;
  border-radius: 40%;
  position: relative;
  margin-top: 5vw;
}

#icons{
  text-align: center;
  display: inline;
}

.fa{
  font-size: 250%;
  padding: 1vw;
}

#mobile-header{
  width: 100%;
}

#content{
  width: 70%;
  height: 100%;
  float: right;
}

.mdl-card{
  margin-top: 3vh;
  width: 90%;
  position: center;
  min-height: 0;
}

.title{
  font-size: 120%;
}

.pic{
  width: 25%;
  margin: 1vh;
}
